.DS_Store
.cursorrules
.envrc
.idea
.venv
.vscode
bin/*
nanobot
releases/*
examples/customer/tools/travel2.sqlite
*.db
/workspace

.svelte-kit/
node_modules/
packages/ui/dist

# Ignore zed files
.zed/
__debug_*
